# Arquivos e pastas de ambiente virtual
.venv/

# Arquivos de cache do Python
pycache/

# Arquivos gerados pelo PyInstaller ou similares
build/
dist/
*.spec

# Ícones (se não fizerem parte do código-fonte essencial)
icon.ico